.article-main-title {
    font-weight: $big-title-font-weight;
    position: relative;
    margin-left: 40px;

    &::before,
    &::after {
        content: '\007E';
        position: absolute;
        font-size: 50px;
        line-height: 0.3;
        left: -30px;
    }

    &::before {
        top: 3px;
        color: $wave-color;
    }

    &::after {
        bottom: 3px;
        color: $main-color-pink;
    }

    @include medium-screen {
        &::before {
            top: 6px;
        }

        &::after {
            bottom: 6px;
        }
    }
}

.article-card {
    padding: 20px;

    .card-img {
        border-radius: 20px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.294);
        height: 250px;
        position: relative;
        @include bg-img-sett;

        .lock-bg,
        .premium-bg {
            width: 40px;
            height: 40px;
            background-color: $color-yellow;
            position: absolute;
            left: 30px;
            border-radius: 0 0 5px 5px;
            box-shadow: $box-shadow;
            @include flex-all-center;

            .lock-svg,
            .premium-svg {
                width: 20px;
                height: 20px;
                position: relative;
            }

            &:hover::before {
                opacity: 1;
            }
        }

        .lock-bg::before,
        .premium-bg::before {
            opacity: 0;
            position: absolute;
            top: -40px;
            font-size: 12px;
            background-color: $color-white;
            width: 120px;
            text-align: center;
            padding: 5px 8px;
            border-radius: 5px;
            box-shadow: $box-shadow;
            transition: opacity 0.35s ease;
            opacity: 0;
        }

        .lock-bg::before {
            content: "Member's Article";

        }

        .premium-bg::before {
            content: 'Premium Article';
        }


        &:hover {
            cursor: pointer;
        }

        &:hover .card-img-text {
            @include medium-screen {
                opacity: 1;
            }
        }

        .card-img-text {
            opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding-bottom: 20px;
            padding-top: 10px;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0.439) 10%, rgba(0, 0, 0, 0) 100%);
            transition: opacity 0.35s ease;
            border-radius: 0 0 20px 20px;
            @include flex-all-center;
            gap: 10px;

            i,
            span {
                color: $color-white;
                font-size: 14px;
                letter-spacing: 0.8px;
                position: relative;
            }
        }

        .card-img-text:hover span::before {
            opacity: 1;
        }

        .card-img-text span::before {
            content: 'Go to comments';
            position: absolute;
            top: -40px;
            left: -35px;
            font-size: 12px;
            background-color: $color-white;
            width: 150px;
            text-align: center;
            padding: 5px 8px;
            border-radius: 5px;
            box-shadow: $box-shadow;
            color: $main-dark-text-color;
            opacity: 0;
            transition: opacity 0.35s ease;
        }

    }

    .card-img-1 {
        background-image: url('https://ghost.estudiopatagon.com/wavy/content/images/size/w660h660/2024/01/Untitled-3.webp');
    }

    .card-img-2 {
        position: relative;
        background-image: url('https://ghost.estudiopatagon.com/wavy/content/images/size/w660h660/2023/10/Untitled--5--2.jpeg');
    }

    .card-img-3 {
        background-image: url('https://ghost.estudiopatagon.com/wavy/content/images/size/w660h660/2023/10/Firefly-tierno-bal-n-de-b-isbol--render-3d-sobre-fondo-plano--colores-pasteles-suaves--fondo-de-1-o-.jpg');
    }

    .card-img-4 {
        position: relative;
        background-image: url('    https://ghost.estudiopatagon.com/wavy/content/images/size/w660h660/2023/10/Firefly-flor--render-3d-sobre-fondo-plano--colores-pasteles-suaves--fondo-de-1-o-2-colores-morados-y.jpg');
    }

    .card-img-5 {
        background-image: url('https://ghost.estudiopatagon.com/wavy/content/images/size/w660h660/2023/10/Untitled--2--2.jpeg');
    }

    .card-img-6 {
        background-image: url('https://ghost.estudiopatagon.com/wavy/content/images/size/w660h660/2023/10/Firefly-joystick-blanco--render-3d-sobre-fondo-plano--colores-pasteles-suaves--fondo-de-1-o-2-colore--2-.jpg');
    }

    .article-text {
        @include medium-screen {
            padding: 20px 20px 20px 30px;
        }

        @include large-screen {
            padding: 7px 10px 7px 15px;
        }

        .article-title {
            font-size: 18px;
            font-weight: $big-title-font-weight;


            @include large-screen {
                font-size: 28px;
            }
        }

        .article-paragraph {
            font-size: 14px;

            @include large-screen {
                font-size: 18px;
            }
        }

        .article-action {
            font-size: 12px;

            @include large-screen {
                font-size: 14px;
            }

            .read-time {
                padding-right: 20px;
                color: #4D6385;
            }
        }
    }

    @include medium-screen {
        .card-img {
            width: 250px;
            height: 250px;
        }
    }
}