.article-main-title {
    font-weight: 600;
    position: relative;
    margin-left: 40px;

    &::before {
        content: '\007E';
        position: absolute;
        font-size: 50px;
        line-height: 0.3;
        top: 3px;
        left: -30px;
        color: $wave-color;
    }

    &::after {
        content: '\007E';
        position: absolute;
        font-size: 50px;
        line-height: 0.3;
        bottom: 3px;
        left: -30px;
        color: $main-color-pink;
    }

    @include medium-screen {
        &::before {
            top: 6px;
        }

        &::after {
            bottom: 6px;
        }
    }
}

.article-card {
    padding: 20px;

    .card-img {
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.294);
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        position: relative;
        overflow: hidden;

        .lock-bg {
            width: 40px;
            height: 40px;
            background-color: $color-yellow;
            position: absolute;
            left: 30px;
            border-radius: 0 0 5px 5px;
            @include flex-all-center;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.322);

            .lock-svg {
                width: 20px;
                height: 20px;
            }
        }

        &:hover {
            cursor: pointer;
        }

        &:hover .card-img-text {
            @include medium-screen {
                opacity: 1;
            }

        }
    }

    .card-img-1 {
        background-image: url('https://ghost.estudiopatagon.com/wavy/content/images/size/w660h660/2024/01/Untitled-3.webp');
    }

    .card-img-2 {
        position: relative;
        background-image: url('https://ghost.estudiopatagon.com/wavy/content/images/size/w660h660/2023/10/Untitled--5--2.jpeg');
    }

    .card-img-3 {
        background-image: url('https://ghost.estudiopatagon.com/wavy/content/images/size/w660h660/2023/10/Firefly-tierno-bal-n-de-b-isbol--render-3d-sobre-fondo-plano--colores-pasteles-suaves--fondo-de-1-o-.jpg');
    }

    .card-img-4 {
        position: relative;
        background-image: url('    https://ghost.estudiopatagon.com/wavy/content/images/size/w660h660/2023/10/Firefly-flor--render-3d-sobre-fondo-plano--colores-pasteles-suaves--fondo-de-1-o-2-colores-morados-y.jpg');
    }

    .card-img-5 {
        background-image: url('https://ghost.estudiopatagon.com/wavy/content/images/size/w660h660/2023/10/Untitled--2--2.jpeg');
    }

    .card-img-6 {
        background-image: url('https://ghost.estudiopatagon.com/wavy/content/images/size/w660h660/2023/10/Firefly-joystick-blanco--render-3d-sobre-fondo-plano--colores-pasteles-suaves--fondo-de-1-o-2-colore--2-.jpg');
    }

    .article-text {
        @include medium-screen {
            padding: 20px 20px 20px 30px;
        }

        @include large-screen {
            padding: 7px 10px 7px 15px;
        }

        .article-title {
            font-size: 18px;
            font-weight: 600;

            @include large-screen {
                font-size: 28px;
            }
        }

        .article-paragraph {
            font-size: 14px;

            @include large-screen {
                font-size: 18px;
            }
        }

        .article-action {
            font-size: 12px;

            @include large-screen {
                font-size: 14px;
            }

            .read-time {
                color: #4D6385;
            }
        }
    }

    @include medium-screen {
        .card-img {
            width: 250px;
            height: 250px;
        }
    }
}

.card-img-text {
    display: block;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.439) 10%, rgba(0, 0, 0, 0) 100%);
    transition: opacity 0.35s ease;

    i,
    span {
        color: $color-white;
        font-size: 14px;
        letter-spacing: 0.8px;

    }
}