* {
    font-family: "Be Vietnam Pro", sans-serif;
    color: $main-dark-text-color;

    &::selection {
        background-color: #302d55;
        color: $color-white;
    }
}

body {
    overflow-x: hidden;
}

.b-radius-20 {
    border-radius: 20px;
}

.no-padding {
    padding: 0 !important;
}

.text-blue-underline {
    transition: background-size 0.3s ease;
    cursor: pointer;
    display: inline;
    background-image: linear-gradient(to right, #aef3ff, #aef3ff);
    background-repeat: no-repeat;
    background-size: 0% 2px;
    background-position: 0 100%;

    &:hover {
        background-size: 100% 4px;
    }
}