.my-pink {
    background-color: lightpink;
    // height: 200px;
    margin-bottom: 500px;
}

.my-blue {
    background-color: rgb(182, 248, 255);
    height: 200px;
    margin-bottom: 500px;
    // top: 100px;
    // position: sticky;
}

* {
    font-family: "Be Vietnam Pro", sans-serif;
    color: $main-dark-text-color;

    &::selection {
        @include text-select;
    }
}

.b-radius-20 {
    border-radius: 20px;
}

// PAGINATION
.pagination {
    margin: 20px 0;
    @include flex-all-cennter;
    gap: 15px;

    .next-page {
        .main-btn {
            a {
                @include link-base;
                color: $color-white;
            }
        }
    }
}

.no-padding {
    padding: 0 !important;
}