.header {
    @include flex-all-cennter;
    flex-direction: column;
    text-align: center;

    &__text {
        width: 80%;
        padding-top: 60px;

        h1 {
            font-weight: 700;

            &::selection {
                @include text-select;
            }
        }

        p {
            font-size: 18px;
            width: 80%;
            margin: 40px 10%;

            &::selection {
                @include text-select;
            }
        }
    }
}