.header {
    @include flex-all-cennter;
    flex-direction: column;
    text-align: center;

    &__text {
        width: 80%;
        padding-top: 60px;

        h1 {
            font-weight: 700;

            &::selection {
                @include text-select;
            }
        }

        p {
            font-size: 18px;
            width: 80%;
            margin: 40px 10%;

            &::selection {
                @include text-select;
            }
        }
    }

    // Switch toggle

    .switch-wrapper {
        position: relative;
        display: inline-flex;
        padding: 4px;
        margin-bottom: 40px;
        border-radius: 10px;
        background: $color-white;
        box-shadow: 0 5px 5px lightgray;

        [type="radio"] {
            display: none;
        }

        [type="radio"]:checked#yearly+label[for="monthly"]~.highlighter {
            transform: translateX(100%);
        }

        label {
            font-size: 16px;
            z-index: 1;
            min-width: 100px;
            line-height: 2;
            cursor: pointer;
            border-radius: 10px;
            transition: color 0.25s ease-in-out;
        }

        .highlighter {
            position: absolute;
            top: 4px;
            left: 4px;
            width: calc(50% - 4px);
            height: calc(100% - 8px);
            border-radius: 5px;
            background: $red-gradient;
            transition: transform 0.25s ease-in-out;
        }
    }
}