.navbar {
    padding: 40px;
    @include flex-align-center;

    &__hamburger-menu {
        color: $color-black;
        font-size: 30px;
    }

    &__nav {
        a {
            @include link-base;
            padding: 10px 15px;
            position: relative;
            font-weight: 500;

            &:hover::before {
                @include link-underline-blue-hover-before;
            }

            &:active {
                color: $main-color-pink
            }
        }
    }

    &__login-box {
        .login-link {
            @include link-base;
            padding: 10px 15px;
            position: relative;
            z-index: 2;
            font-weight: 500;

            &:hover::before {
                @include link-underline-blue-hover-before;
            }
        }
    }

    &__search-btn {
        @include gradient-btn;
        border-radius: 50%;
        padding: 8px 13px;

        .bi {
            color: $color-white;
        }
    }
}