$red-gradient: linear-gradient(103deg, #fc6668 0%, #E10489 100%);
$blue-gradient: linear-gradient(135deg, #4776E6 0%, #8E54E9 100%);

$main-color-pink: #ff0081;
$main-color-blue: #4f1cff;
$color-yellow: #FFDB00;
$card-bg-light: #fff9f3;
$border-color: #ffe7d2;
$color-white: #ffffff;
$wave-color: #FC6668;
$color-black: #000000;
$main-dark-text-color: #002050;
$link-blue-underline: rgb(169, 222, 255);

$mobile: 490px;
$tablet: 768px;
$loptop : 1200px;

@mixin flex-align-center {
    display: flex;
    align-items: center;
}

@mixin flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin link-base {
    text-decoration: none;
    color: $color-black;
}



@mixin gradient-btn {
    background: $red-gradient ;
    border: none;
    color: $color-white;
}

@mixin text-select {
    background-color: #302d55;
    color: $color-white;
}

@mixin link-underline-blue-1 {
    padding: 10px 15px;
    position: relative;
    z-index: 2;
    font-weight: 500;
}

@mixin link-underline-blue-hover-before-2 {
    content: '';
    background-color: $link-blue-underline;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 80%;
    margin-left: 10%;
    z-index: 1;
    animation: linkUnderline 0.3s forwards;
}

@mixin author-card-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(22, 22, 22, 0.471);
}

@mixin small-screen {
    @media (min-width:$mobile) {
        @content;
    }
}


@mixin medium-screen {
    @media (min-width:$tablet) {
        @content;
    }
}

@mixin large-screen {
    @media (min-width:$loptop) {
        @content;
    }
}